
body {
    color: #616D7E !important;
}

label {
   font-size:14px !important;
}

p.tlabel {
  display:inline !important;
  font-size: 12px !important;
}

div.errmsg {
  display:inline !important;
  font-size: 14px !important;
  font-weight: bold;
  color: red !important;
}

div.reqaster {
  display:inline !important;
  font-size: 18px !important;
  font-weight: bold;
  color: red !important;
}

div.succmsg {
  display:inline !important;
  font-size: 14px !important;
  font-weight: bold;
  color: green !important;
}

/* remove underlines from A tags */
a:link {
    text-decoration: none !important;
    color: #1569C7 !important;
}
a:visited {
    text-decoration: none !important;
    color: #1569C7;
}
a:hover {
    text-decoration: none !important;
    color: #1569C7 !important;
}
a:active {
    text-decoration: none !important;
    color: #1569C7 !important;
}
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}
